// This is the top-level scss file. Import all other files in here.
@import 'home';

@import url('https://fonts.googleapis.com/css?family=Press+Start+2P');
@import url('https://fonts.googleapis.com/css?family=Permanent+Marker');
@import url("https://cdnjs.cloudflare.com/ajax/libs/normalize/4.2.0/normalize.min.css");
$header-text: 'Permanent Marker', cursive;
$body-text: 'Press Start 2P', cursive;
$primary-color: red;
$secondary-color: yellow;

body {
  background: white;
  color: black;
  font-family: $body-text;
  font-size: 14px;
  margin: 70px 0;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.2);

}

.chatbar {
  background: $primary-color;
  border-top: 1px solid black;
  bottom: 0;
  display: flex;
  left: 0;
  padding: 5px;
  position: fixed;
  right: 0;
}

.chatbar-message,
.chatbar-username {
  border: 1px solid black;
  display: block;
  height: 40px;
  line-height: 40px;
  margin: 5px;
  padding: 0 9px;
}

.chatbar-message {
  flex: 8;
}

.chatbar-username {
  flex: 2;
}

.message {
  display: flex;
  padding: 5px;
}

.message.system {
  font-style: italic;
  padding: 5px 20px;
}

.message-content,
.message-username {
  overflow: hidden;
  margin: 5px;
  padding: 0 10px;
}

.message-content {
  flex: 8;
}

.message-username {
  flex: 2;
  font-weight: 700;
  background-color: $secondary-color;
}

.navbar {
  background: $primary-color;
  border-bottom: 1px solid black;
  height: 60px;
  left: 0;
  padding: 0 10px;
  position: fixed;
  right: 0;
  top: 0;
}

.navbar-brand {
  color: $secondary-color;
  display: block;
  float: left;
  font-family: $header-text;
  font-size: 2.5rem;
  height: 60px;
  line-height: 60px;
  padding: 0 10px;
  text-decoration: none;
  text-shadow: 2px 2px black;
}

.navbar img.logo {
    top: 50%;
    transform: translateY(-50%);
    position: relative;
    float: left;
    height: 40px;
    width: auto;
    border: 2px solid $secondary-color;
    border-radius: 50%;
    box-shadow: 2px 2px black;
    background-color: $secondary-color
}