// This is the top-level scss file. Import all other files in here.
@import 'home';

@import url('https://fonts.googleapis.com/css?family=Press+Start+2P');
@import url('https://fonts.googleapis.com/css?family=Permanent+Marker');
@import url("https://cdnjs.cloudflare.com/ajax/libs/normalize/4.2.0/normalize.min.css");
$header-text: 'Permanent Marker', cursive;
$body-text: 'Press Start 2P', cursive;
$primary-color: red;
$secondary-color: yellow;
$background-color: rgb(238, 217, 221);

body {
  background-color: $background-color;
  color: black;
  font-family: $body-text;
  font-size: 14px;
  margin: 70px 0;
}

.chatbar {
  background: $primary-color;
  border-top: .5rem solid black;
  bottom: 0;
  display: flex;
  left: 0;
  padding: 10px 5px;
  position: fixed;
  right: 0;
}

.chatbar-message,
.chatbar-username {
  border: 1px solid black;
  display: block;
  height: 40px;
  line-height: 40px;
  margin: 5px;
  padding: 0 9px;
}

.chatbar-message {
  flex: 8;
  background: $secondary-color;
  box-shadow: 3px 3px black;
  border: none;
}

.chatbar-message:focus {
  outline: 1px solid black;
}

.chatbar-username {
  flex: 2;
  background: $secondary-color;
  box-shadow: 3px 3px black;
  border: none;
}

.chatbar-username:focus {
  outline: 1px solid black;
}

.message {
  display: flex;
  padding: 5px;
}

.message.system {
  font-style: italic;
  padding: 5px 20px;
}

.message-content,
.message-username {
  overflow: hidden;
  margin: 5px;
  padding: 0 10px;
}

.message-content {
  flex: 8;
  word-break: break-all;
}

.message img {
  display: block;
  height: 15rem;
}

.message-username {
  flex: 2;
  font-weight: 700;
  text-shadow: 1px 1px black;
}

.navbar {
  background: $primary-color;
  border-bottom: .5rem solid black;
  height: 60px;
  left: 0;
  padding: 0 10px;
  position: fixed;
  right: 0;
  top: 0;
}

.navbar-brand {
  color: $secondary-color;
  display: block;
  float: left;
  font-family: $header-text;
  font-size: 3rem;
  height: 60px;
  line-height: 60px;
  padding: 0 10px;
  text-decoration: none;
  text-shadow: 3px 3px black;
}

.navbar img.logo {
    top: 50%;
    transform: translateY(-50%);
    position: relative;
    float: left;
    height: 40px;
    width: auto;
    border: 2px solid $secondary-color;
    border-radius: 50%;
    box-shadow: 2px 2px black;
    background-color: $secondary-color
}

.navbar h4 {
  transform: rotate(20deg);
  float: right;
  width: 169px;
  margin: 2rem 1rem;
  padding: .25rem;
  background: $secondary-color;
  border-top: 1rem solid lighten($primary-color, 20%);
  border-left: 1rem solid $primary-color;
  border-bottom: 1rem solid lighten($primary-color, 20%);
  border-right: 1rem solid darken($primary-color, 20%);
  box-shadow: 4px 4px;
  transition: 0.3s;
  position: relative;
  top: 0;
}

.navbar h4:hover {
  opacity: 0.2;
  top: -40px;
}

.navbar h6 {
  float: left;
  padding: 0 1rem;
  color: $secondary-color;
  text-shadow: 1px 1px black;
}